version: '2.3'
services:
  app:
    image: gcr.io/${PROJECT_ID}/elixir-drip-prod:${BUILD_TAG}
    build:
      context: .
      dockerfile: Dockerfile.deploy
    depends_on:
      release:
        condition: service_healthy
    command: ["echo", "Release image ready to be deployed."]
  release:
    image: release_prepared:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./env/test.env
    working_dir: /opt/app/elixir_drip
    command: ["/bin/sh", "script/test.sh"]
    ports:
      - 4000:4000
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "cat", "/tmp/elixir_drip/ready"]
      interval: 30s
      timeout: 2s
      retries: 10
      start_period: 2m
  postgres:
    image: postgres:9.6
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "postgres"]
      interval: 10s
      timeout: 3s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "123456"
      PSQL_TRUST_LOCALNET: 'true'
      ENCODING: UTF8
    networks:
      - default
    ports:
      - 5000:5432
